<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits - Country Data</title>
    <%- include('modules') %>
</head>

<body>
    <%- include('header') %>

        <main>
            <div class="credit"><label>App Developer: </label><a target="_blank" href="https://github.com/sancho1952007/">https://github.com/sancho1952007/</a></div>
            <div class="credit"><label>App Main Api: </label><a target="_blank" href="https://restcountries.com/">https://restcountries.com/</a></div>
            <div class="credit"><label>App Icon: </label><a target="_blank" href="https://icons8.com/icons/set/country">https://icons8.com/icons/set/country</a></div>
            <div class="credit"><label>Image Not Found Icon: </label><a target="_blank" href="https://bitsofco.de/handling-broken-images-with-service-worker/">https://bitsofco.de/handling-broken-images-with-service-worker/</a></div>
            <div class="credit"><label>Coat Of Arms Loader: </label><a target="_blank" href="https://gfycat.com/offensiveunitedchanticleer">https://gfycat.com/offensiveunitedchanticleer</a></div>
        </main>
</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
    .credit * {
        font-size: 17px;
        font-family: 'Barlow', sans-serif;
    }
    
    label {
        color: rgb(102, 102, 102);
    }
    
    .credit {
        margin-bottom: 15px;
        margin-left: 5px;
    }
</style>

</html>